# Playwright is a Python library for automating web browsers
playwright
pytest-playwright

python-dotenv

# Pytest is a testing framework for Python
pytest
pydantic

# Reporter
pytest-reporter-html1

junit-xml

# IPython debugger
ipdb

# Code linter for Python
black